registry=https://registry.npmmirror.com
@ocean:registry=https://devops.xfein.com:443/packages/75560f9d-2fab-4efe-bbe6-90b71f3ff9e4/npm/xunfeng
@merchant:registry=https://devops.xfein.com:443/packages/75560f9d-2fab-4efe-bbe6-90b71f3ff9e4/npm/xunfeng
//devops.xfein.com/packages/75560f9d-2fab-4efe-bbe6-90b71f3ff9e4/npm/:_authToken=0f1ad27b-4783-43f3-877f-e32415062183
