<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Meadowlark Travel</title>
    </head>
    <body>
        <img src="/imgs/logo.jpg" alt="Weadawlark" />

        {{{body}}}
    </body>
</html>
