<h1>Hood River Tour</h1>
<form>
    <input type="hidden" name="referrer" value="10" />
    <p>
        Name: <input type="text" id="fieldName" name="name" />
    </p>
    <p>
        Group Size: <input type="text" name="groupSize" />
    </p>
    <p>
        Email: <input type="email" name="email" />
    </p>
    <input type="submit" value="Submit" />
</form>
<script>
    $(document).ready(function() {
        $('input[name="referrer"]').val(document.referrer)
    })
</script>
